<div class="card shadow p-4">

  <h3 class="mb-4">
    <i class="fa-solid fa-truck me-2"></i>Mes commandes
  </h3>

  @if (commandes().length == 0) {
    <div class="text-center text-muted py-4">
      <i class="fa-regular fa-face-frown fa-3x mb-3"></i>
      <p class="fs-5">Vous n'avez pas encore passé de commande.</p>
      <div class="d-flex justify-content-center">
      <button class="btn btn-primary text-center w-25 mt-2 position-relative" [routerLink]="['/catalogue']">
        Voir le catalogue
      </button>
    </div>
    </div>
  }@else{
    @for (commande of commandes(); track $index) {
      <div class="container my-3">
        <h3>Commande n°{{ commande.idCommande }} </h3>
        <div>
          Effectuée le {{ commande.dateCommande }}
        </div>
        @if (commande.statutCommande == "CONFIRMEE") {
          <span class="badge bg-success">Statut: {{ commande.statutCommande }}</span>
        }@else if (commande.statutCommande == "EN_ATTENTE") {
          <span class="badge bg-primary">Statut: {{ commande.statutCommande }}</span>
        }@else {
          <span class="badge bg-danger">Statut: {{ commande.statutCommande }}</span>
        }
        <div class="my-2">
          <a [routerLink]="['/detail', commande.idCommande]">Voir détails</a>
        </div>
      </div>
    }
  }

</div>

