<div class="home-container">
  <!-- Arrière-plan animé -->
  <div class="background-animation">
    <img src="/image1.jpg" class="floating" alt="Image 1">
    <img src="/image2.jpg" class="floating" alt="Image 2">
    <img src="/image3.jpg" class="floating" alt="Image 3">
   

  </div>

  <!-- Contenu principal -->
  <div class="content text-center">
    <h1>Bienvenue sur notre site !</h1>
    <button class="btn btn-primary mt-4" [routerLink]="['/connexion']">
      Aller à la page de connexion
    </button>
  </div>
</div>
