.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #5c5e61; /* couleur de fond */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  img {
    position: absolute;
    width: 150px;
    opacity: 0.8;
    animation: float 10s infinite ease-in-out;
  }

  img:nth-child(1) { top: 10%; left: 20%; animation-delay: 0s; }
  img:nth-child(2) { top: 50%; left: 70%; animation-delay: 0s; }
  img:nth-child(3) { top: 30%; left: 40%; animation-delay: 0s; }
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
  
}

